<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\GitHub\Lua\DarkSlash_Lua\simulator\win32\DarkSlash.exe</StartProgram>
    <StartArguments>-workdir E:\GitHub\Lua\DarkSlash_Lua -file src\main.lua</StartArguments>
    <StartWorkingDirectory>E:\GitHub\Lua\DarkSlash_Lua\simulator\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>